  #mobile-outline {
    outline: 20px solid #333;
    max-width: 412px;
    margin: 20px auto 20px auto;
    border-radius: 10px;
 } 
 
 body {
    color: #626262;
    font-family: 'Sanchez', 'Times New Roman', serif;
 }
 
 a {
    text-decoration: none;
    transition: all .5s ease-in-out;
 }
 
 input, textarea {
    display: block;
    margin: 0;
    padding: 0;
 }
 
 .cr-red {
    color: #9a2018;
 }
 
 .line-separator {
    margin-top: 20px;
    border-top: solid 3px #CF6666;
    padding-top: 20px;
 }
 
  #main-nav label img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .5s ease;
    margin-bottom: 20px; 
 } 
 
 #main-nav input, #burger-con {
    display: none;
    text-decoration: underline red;
 }
 
 
 #main-nav input:checked ~ #burger-con {
    display: block;
 }
 
 #main-nav input:checked ~ label img {
    transform: rotate(90deg);
 }
 
 #main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 
 #main-nav ul li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: left;
    color: #626262;
 }
 
 #main-nav ul li {
    border-bottom: 1px solid #efefef;
 }
 

 #main-nav ul li:first-child {
    border-top: 1px solid #efefef;
 }
 
 #main-nav ul li:last-child {
    margin-bottom: 10px;
 } 
 

 #logo {
    margin-bottom: 20px;
    max-width: 382px;
 }
 
 
 #hero {
    background: url(../images/Room\ Main.jpeg) no-repeat;
    height: 200px;
    width: 412px;
 }

 #spa {
   background: url(../images/Spa\ Main.jpg) no-repeat;
   height: 200px;

}
 
 .book-now {
    background-color: #9a2018;
    color: #fff;
    font-size: 16px;
    transition: background-color 500ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    transition:all 0.3s ease;
    cursor: pointer;
 }
 
 .book-now:hover {
    background-color: rgb(196, 28, 28);
 }
 
 #book-now-hero {
    height: 67px;
 }
 
 #hero-heading-box {
    align-self: end;
 }
 
 .hero-img-h2, .hero-img-h3 {
    background: rgb(255, 255, 255);
    padding: 10px 15px;
    font-size: 14px;
 }
 
 .hero-img-h2 span,  .hero-img-h3 span {
    color: #9a2018;
    font-size: 12px;
 }
 
 #hero-summary p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
 }


 body > details {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px auto 20px auto;
    font-size: 18px;
    max-width: 412px;
}

p {
    line-height: 30px;
}

details {
    border: solid 1px #ccc;
    padding: 20px;
    border-radius: 10px;
    
}

summary {
    background-color: #efefef;
    padding: 20px;
}


.checkbox-container {
   display: flex;
   align-items: center; 
   justify-content: center;
 }
 
 input[type="checkbox"]:checked + span::after {
   content: "❤️" ;
   margin-left: 5px; 
 }


#Exotic-con {
    background: url(../images/Exotic.jpg);
    height: 195px;
 }
 
 #Exotic-heading-box {
    align-self: end;
 }
 
 #Exotic-text {
    margin-top: 15px;
    margin-bottom: 25px;
 }
 
 #Exotic-address p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 22px;
 }
 
 #Master-con {
    background: url(../images/Master.jpg);
    width: 412px;
    height: 195px;
 }
 
 #Master-heading-box {
    align-self: end;
 }
 
 #Master-text {
    margin-top: 15px;
    margin-bottom: 15px;
 }
 
 #Master-address p {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 14px;
    line-height: 22px;
 }

 #Chalet-con {
   background: url(../images/Chalet.jpg);
   width: 412px;
   height: 195px;
}

#Chalet-heading-box {
   align-self: end;
}

#Chalet-text {
   margin-top: 15px;
   margin-bottom: 15px;
}

#Chalet-address p {
   margin-bottom: 20px;
   margin-left: 20px;
   font-size: 14px;
   line-height: 22px;
}

#villa-con {
   background: url(../images/villa.jpg);
   width: 412px;
   height: 195px;
}

#villa-heading-box {
   align-self: end;
}

#villa-text {
   margin-top: 15px;
   margin-bottom: 15px;
}

#villa-address p {
   margin-bottom: 20px;
   margin-left: 20px;
   font-size: 14px;
   line-height: 22px;
}

img {
   vertical-align: baseline;
}

h3 {
   height: 45px;
   
}

p {
   line-height: 35px;
}

#contact-hero-con {
   background: url(../images/contact-hero.jpg);
   width: 380px;
   height: 195px;
}

#contact-hero-heading-box {
   align-self: end;
}

#contact-hero-text {
   margin-top: 15px;
   margin-bottom: 25px;
}

#contact-hero-address p {
   margin-bottom: 20px;
   font-size: 14px;
   line-height: 22px;
}

#contact-hero-address {
   margin-bottom: 30px;
}

#contact-hero-address h3 {
   margin-bottom: 25px;
}



#contact-hero-form form {
   display: flex;
   flex-direction: column;
}

#contact-hero-form input, textarea {
   padding: 22px;
   border: 2px solid #d6d6d6;
   background-color: #f7f7f7;
   border-radius: 5px;
   margin-bottom: 30px;
   font: inherit;
   width: auto;
}

#contact-hero-form textarea {
   height: 250px;
}



#contact-hero-form input[type="submit"] {
   padding: 12px 28px;
   background: #9a2018;
   color: #fff;
   border: none;
   transition: all 200ms ease-in;
   width: 150px;
   align-self: flex-end;
}

#contact-hero-form input[type="submit"]:hover {
   letter-spacing: 0.5em;
   background-color: #9a2018;
   border-radius: 5px;
   box-shadow: 0 4px 10px #31313150;
   animation: send-btn;
   animation-duration: 1s;
   animation-timing-function: ease-in-out;
   animation-iteration-count: 1;
}

@keyframes send-btn {
   form {
      border-radius: 5px;
      color: #f7f7f7;
      background-color: #ffffff;
   }

   to {
      border-radius: 80px;
      background-color:#e5dbdb;
      color: #9a2018;
      transform: scale(1.1);
      border: #b9b3b350 1px solid;
   }
}

#footer-hero {
   background-image: url(../images/footer.jpg) ;
	background-repeat: no-repeat;
   color: #fff;
   font-size: 12px;
   margin-top: 40px;
   padding-bottom: 80px;
}


#footer-hero h3 {
   margin-top: 30px;
   font-size: 28px;
   margin-bottom: 16px;
}

#footer-privacy .line-seperator {
   margin-top: 0px;
}

#footer-contact-info h3 {
   font-size: 23px;
}

#footer-contact-info p {
   margin-bottom: 20px;
   line-height: 18px;
   font-size: 11px;
}

a  {
   color: #efefef;
}

.heading {
   width: 412px;
   align-items: center;
   margin: 20px auto;
   font-size: 8px;
   background-color: #ECEBEB;
}

.heading > p {
   line-height: 15px;
}

hr {
   border-bottom: 2px solid #cb0d0d;
   width: 412px;
 }

 #hand-feet-treatment-con {
   background: url(../images/hand-feet-treatment.jpg);
   height: 195px;
}

#hand-feet-treatment-heading-box {
   align-self: end;
}

#hand-feet-treatment-text {
   margin-top: 15px;
   margin-bottom: 25px;
}

#hand-feet-treatment-address p {
   margin-bottom: 20px;
   font-size: 14px;
   line-height: 22px;
}

#Indian-Head-Massage-con {
   background: url(../images/Indian\ head\ massage.jpg);
   height: 195px;
   max-width: 380px;
}

#Indian-Head-Massage-heading-box {
   align-self: end;
}

#Indian-Head-Massage-text {
   margin-top: 15px;
   margin-bottom: 25px;
}

#Indian-Head-Massage-address p {
   margin-bottom: 20px;
   font-size: 14px;
   line-height: 22px;
}

#Scrubs-Wraps-And-Facials-con {
   background: url(../images/cream.jpeg);
   height: 195px;
   width: 380px;
}

#Scrubs-Wraps-And-Facials-heading-box {
   align-self: end;
}

#Scrubs-Wraps-And-Facials-text {
   margin-top: 15px;
   margin-bottom: 25px;
}

#Scrubs-Wraps-And-Facials-address p {
   margin-bottom: 20px;
   font-size: 14px;
   line-height: 22px;
}

.price-list {
   list-style-type: none;
   padding: 0;
}

.price-list li {
   margin-bottom: 10px;
   font-size: 16px;
}


.price {
   font-weight: bold;
   border-bottom: 2px solid #cb0d0d; 
   margin-left: 30px;
}

#Therary-con {
   background: url(../images/REGISTERED\ MASSAGE\ THERAPY.jpeg);
   height: 195px;
}

#Therary-heading-box {
   align-self: end;
}

#Therary-text {
   margin-top: 15px;
   margin-bottom: 25px;
}

#Therary-address p {
   margin-bottom: 20px;
   font-size: 14px;
   line-height: 22px;
}

.price-list {
   padding: 22px;
   border:  1px #ECEBEB;
   background-color: #ECEBEB;
   border-radius: 0;
   margin-bottom: 30px;
   width: auto;
} 

.price-list {
   display: flex;
   justify-content: space-around;
   background-color: #ECEBEB;
}
 
.price-item {
   text-align: center;
}

.price-item span {
   margin-left: 10px;
}

.price-item > span {
      display: flex;
      height: 20px; 
      align-items: center; 
      justify-content: center;
      border-bottom: 2px solid #cb0d0d; 
}


#Waxing-con {
   background: url(../images/waxing.jpg);
   height: 195px;
  
}

#Waxing-heading-box {
   align-self: end;
}

#Waxing-text {
   margin-top: 15px;
   margin-bottom: 25px;
}

#Waxing-address p {
   margin-bottom: 20px;
   font-size: 14px;
   line-height: 22px;
}

#Features-con {
   background: url(../images/Algonquin.jpg);
   height: 195px;

  
}

#Features-heading-box {
   align-self: end;
}

#Features-text {
   margin-top: 15px;
   margin-bottom: 25px;
}

#Features-address p {
   margin-bottom: 20px;
   font-size: 14px;
   line-height: 22px;
}